.messages {
  position: relative;
  flex-grow: 1;
  background-image: (url(../../images/school.png));
  background-color: #eae6df;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 63px;
    gap: 20px;
    overflow-y: auto;
    height: calc(100% - 128px);
  }
}
