.contacts {
  flex: 0 0 30%;
  max-width: 30%;
  background-color: #fff;
  border-right: 1px solid #d1d7db;

  &__wrapper {
    border-bottom: 1px solid #f0f2f5;

    span {
      display: block;
      color: red;
      font-size: 12px;
      padding: 0 0 5px 14px;
    }
  }

  &__input {
    display: flex;
    padding: 10px 12px;

    button {
      display: flex;
      align-items: center;

      svg {
        width: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    margin: 0 0 0 12px;
    gap: 5px;
  }

  &__container {
    overflow-y: auto;
    height: calc(100vh - 147px);

    div {
      background-color: #fff;
      border-bottom: 1px solid #f0f2f5;
    }
  }
}
